@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
@model Product_Store.Controllers.UserController.UserViewModel
      
<form style="width: 300px; margin: 50px auto;" action="/User/XuLyLogin" method="post">
  <div class="mb-3" >
    <label for="exampleInputPhone1" class="form-label">Phone address</label>
    <input type="Phone" name="Phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your Phone with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
<script>
  $('.btn').click(function(){
      sessionStorage.setItem('user',$('#exampleInputEmail1').val())
    sessionStorage.setItem('pass',$('#exampleInputPassword1').val())

  })
 
</script>